html {
  /* 页面内容不足一屏时不显示滚动条（各页面内容超高时仍正常滚动） */
  overflow-y: auto;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  background: #f0f2f5;
}

#app {
  max-width: 100%;
  margin: 0;
  font-weight: normal;
}
